@page "/"
@page "/index.html"

<PageTitle>The YouTube Chapter List Creator</PageTitle>
<HeadContent>
    <meta name="description" content="Use this app to convert a csv file with chapter/marker details into text you can paste into your YouTube video description to create Chapters" />
    <meta name="keywords" content="YouTube Chapters, YouTube, Chapters, Timecode" />
    <meta name="robots" content="index, follow" />
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.
